# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite3

# VS Code
.vscode/

# PyCharm
.idea/

# Uploads folder content but keep folder
static/uploads/*
!static/uploads/.gitkeep

# Environment variables
.env 